# Don't search another lombok.config file in parent folders
config.stopbubbling = true

# We add annotations flags for IDEs and tools :
#  * mark the code as generated for linters and coverage tools
lombok.addJavaxGeneratedAnnotation = true
lombok.addLombokGeneratedAnnotation = true
#  * we prefer the javax Nullable annotation for compatibility with majority of tools
lombok.addNullAnnotations = javax

# Adding runtime flags for code using reflection on generated beans/dto
lombok.anyconstructor.addconstructorproperties = true
